.site-header {
  background-color: rgb(255,234,169);
  padding: 0 3%;
}

.clearfix {
  clear: both;
  overflow: auto;
  width: 100%;
}

.heading-group-h1 {
  float: left;
  width: 80%;
}

.icon-menu {
  float: right;
  padding-right: 3%;
  font-size: 7vh;
}

.main-nav ul {
  display: none;
}

@media only screen and (max-width: 639px) {
  .main-nav:hover ul{
    display: block;
  }
}

.main-nav a {
  text-decoration: none;
  color: grey;
  text-align: left;
}

.main-nav li {
  font-size: 1.5em;
  color: grey;
  list-style-type: none;
  margin-left: -13.5%;
  width: 107%;
  float: left;
  border-bottom: 1px solid lightgrey;
  padding: 5% 0 5% 1%;
}

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  .main-nav {
    clear: left;
    float: left;
    margin-left: -3.5%;
  }

  .main-nav ul {
    display: inline-flex;
    text-decoration: none;
    width: 100%;
  }

  .main-nav li {
    font-size: 1.4em;
    margin: 0 0.7em;
    width: 100%;
  }

  .main-nav a{
    text-decoration: none;
    color: grey;
    text-align: left;
  }

  .main-nav ul li{
    color: grey;
    list-style-type: none;
    text-align: left;
    border-bottom: none;
  }
}
